.heading_container{
    color: white;
    display: flex;
    gap:30px;
}
td{
    color: black; 
    background-color: whitesmoke; 
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.score_box{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}
.value{
    width: 100px; 
    height:40px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.header{
    font-family: "Pacifico", cursive;
    font-size: 35px;
    text-decoration: underline;
    text-shadow: 4px 4px 4px green;
}
.score_box{
    border: 2px solid white;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
   display: flex;
   justify-content: center;
   align-items: center;
}