.table_board {
    color: white;
    display: inline-block;
    box-sizing: border-box;
    background-color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 30px;

}


tbody>tr>td {
    border: 3px solid white;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    text-align: center;
    font-size: 40px;
}