<div class="heading">
    <app-heading [score]="score"></app-heading>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4x4 Table</title>

</head>
<body>
        <div class="table_board">
            <table>
                <tbody>                    
                    <tr *ngFor="let row of grid; let i = index">
                        <td *ngFor="let column of row; let j = index">
                            <p>{{column}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>


</html>